.row {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.nurse-link {
    font-size: 14px;
    color: #0FBB83;
    margin: 20px;
}

.align-item-center {
    align-items: center;
}

.header-form {
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    color: black;
    margin: 20px auto;
}

.nurse-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 20px;
    color: #777289;
    font-size: 14px;
    font-weight: 700px;
}

.addPicture {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 76px;
    width: 76px;
    border-radius: 38px;
    border: 1px solid #707070;
}

input[type='file'] {
    display: none
}

.nurse-form button {
    background-color: #0CD891;
    color: white;
    font-size: 16px;
    align-items: center;
    border-radius: 4px;
    width: 137px;
    height: 40px;
    margin: 20px;
}

.nurse-form input {
    width: 507px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #707070;
    margin: 20px;
}

.addnurseForm {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

p {
    margin: 20px;
    font-size: 14px;
}

.small-icon {
    width: 28.25px;
    height: 16.91px;
    object-fit: contain;
}

.pad-15 {
    padding: 15px;
}